/* Set the width of the scrollbar */
body::-webkit-scrollbar {
  width: 3px; /* You can adjust the width as needed */
}

/* Set the color of the scrollbar thumb */
body::-webkit-scrollbar-thumb {
  background-color: #e2dcdc; /* Set the color of the scrollbar thumb */
  border-radius: 4px; /* Optional: Add border-radius for a rounded look */
}

/* Set the color of the scrollbar track */
body::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Optional: Set the color of the scrollbar track */
}
